.menu-footer {
    &__list {
        > *:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.01em;
        color: var(--light-text-color);
        transition: all 0.3s ease 0s;

        &:hover {
            display: block;
            text-decoration: underline;
            transform: scaleX(1.1);
        }
    }

    @include tablet {
        &__link {
            font-size: 20px;
        }
    }
}
